[submodule "submodules/dirac-bash-command-line"]
	path = submodules/dirac-bash-command-line
	url = https://github.com/Southampton-RSG-Training/dirac-bash-command-line.git
	branch = gh-pages
[submodule "submodules/dirac-bash-writing-scripts"]
	path = submodules/dirac-bash-writing-scripts
	url = https://github.com/Southampton-RSG-Training/dirac-bash-writing-scripts.git
	branch = gh-pages
[submodule "submodules/dirac-version-control"]
	path = submodules/dirac-version-control
	url = https://github.com/Southampton-RSG-Training/dirac-version-control.git
	branch = gh-pages
[submodule "submodules/reveal.js"]
	path = submodules/reveal.js
	url = https://github.com/hakimel/reveal.js.git
