<div class="row">
 <div class="col-md-6">
  <a href="dirac-bash-command-line-schedule">
   <h3>
    Bash Shell: Using the Command Line
   </h3>
  </a>
  <h4>
   14 March 2022
  </h4>
  <table class="table table-striped">
   <tr>
    <td>
     09:00
    </td>
    <td>
     Block 1
    </td>
   </tr>
   <tr>
    <td>
     10:30
    </td>
    <td>
     Coffee
    </td>
   </tr>
   <tr>
    <td>
     12:00
    </td>
    <td>
     Lunch break
    </td>
   </tr>
  </table>
 </div>
 <div class="col-md-6">
  <a href="dirac-software-engineering-schedule">
   <h3>
    Principles of Software Engineering
   </h3>
  </a>
  <h4>
   15 March 2022
  </h4>
  <table class="table table-striped">
   <tr>
    <td>
     13:00
    </td>
    <td>
     Block 2
    </td>
   </tr>
   <tr>
    <td>
     14:30
    </td>
    <td>
     Coffee
    </td>
   </tr>
   <tr>
    <td>
     16:00
    </td>
    <td>
     Wrap-up
    </td>
   </tr>
  </table>
 </div>
 <div class="col-md-6">
  <a href="dirac-bash-writing-scripts-schedule">
   <h3>
    Bash Shell: Writing Basic Scripts
   </h3>
  </a>
  <h4>
   14 March 2022
  </h4>
  <table class="table table-striped">
   <tr>
    <td>
     13:00
    </td>
    <td>
     Block 2
    </td>
   </tr>
   <tr>
    <td>
     14:30
    </td>
    <td>
     Coffee
    </td>
   </tr>
   <tr>
    <td>
     16:00
    </td>
    <td>
     Wrap-up
    </td>
   </tr>
  </table>
 </div>
 <div class="col-md-6">
  <a href="dirac-test-document-review-schedule">
   <h3>
    Testing, Documenting, and Reviewing Code
   </h3>
  </a>
  <h4>
   16 March 2022
  </h4>
  <table class="table table-striped">
   <tr>
    <td>
     09:00
    </td>
    <td>
     Block 1
    </td>
   </tr>
   <tr>
    <td>
     10:30
    </td>
    <td>
     Coffee
    </td>
   </tr>
   <tr>
    <td>
     12:00
    </td>
    <td>
     Lunch break
    </td>
   </tr>
  </table>
 </div>
 <div class="col-md-6">
  <a href="dirac-version-control-schedule">
   <h3>
    Version Control with Git
   </h3>
  </a>
  <h4>
   15 March 2022
  </h4>
  <table class="table table-striped">
   <tr>
    <td>
     09:00
    </td>
    <td>
     Block 1
    </td>
   </tr>
   <tr>
    <td>
     10:30
    </td>
    <td>
     Coffee
    </td>
   </tr>
   <tr>
    <td>
     12:00
    </td>
    <td>
     Lunch break
    </td>
   </tr>
  </table>
 </div>
 <div class="col-md-6">
  <a href="dirac-code-scaling-schedule">
   <h3>
    Principles of Codes Scaling
   </h3>
  </a>
  <h4>
   16 March 2022
  </h4>
  <table class="table table-striped">
   <tr>
    <td>
     13:00
    </td>
    <td>
     Block 2
    </td>
   </tr>
   <tr>
    <td>
     14:30
    </td>
    <td>
     Coffee
    </td>
   </tr>
   <tr>
    <td>
     16:00
    </td>
    <td>
     Wrap-up
    </td>
   </tr>
  </table>
 </div>
</div>