<div class="row">
 <div class="col-md-6">
  <a href="dirac-bash-command-line-schedule">
   <h3>
    Bash Shell: Using the Command Line
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-md-6">
  <a href="dirac-software-engineering-schedule">
   <h3>
    Principles of Software Engineering
   </h3>
  </a>
  See course schedule for lesson details
 </div>
</div>
<div class="row">
 <div class="col-md-6">
  <a href="dirac-bash-writing-scripts-schedule">
   <h3>
    Bash Shell: Writing Basic Scripts
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-md-6">
  <a href="dirac-test-document-review-schedule">
   <h3>
    Testing, Documenting, and Reviewing Code
   </h3>
  </a>
  See course schedule for lesson details
 </div>
</div>
<div class="row">
 <div class="col-md-6">
  <a href="dirac-version-control-schedule">
   <h3>
    Version Control with Git
   </h3>
  </a>
  See course schedule for lesson details
 </div>
 <div class="col-md-6">
  <a href="dirac-code-scaling-schedule">
   <h3>
    Principles of Codes Scaling
   </h3>
  </a>
  See course schedule for lesson details
 </div>
</div>