{% comment %}
This is a custom schedule for the RSG workshops.

<div class="row">
  {% for item in site.data.lessons %}
    {% assign schedule = 'rsg/' | append: item.gh-name | append: '-lesson/schedule.html' %}
    {% include {{ schedule }} %}
  {% endfor %}
</div>
{% endcomment %}

<div class="row">
  {% for item in site.data.lessons %}
    <div class="row">
      <div class="col-md-6">
        <a href="{{ item.permalink }}"><h3>{{ item.title }}</h3></a>
        <h4>{{ item.date }}</h4>
        <table class="table table-striped" style="text-align: left; padding: 0px;">
          {% assign count = 0 %}
          {% for time in item.times %}
            <tr> <td> {{ time }} </td>     <td> {{ item.sessions[count] }} </td> </tr>
            {% assign count = count | plus: 1 %}
          {% endfor %}
        </table>
      </div>
    </div>
  {% endfor %}
</div>

